{% extends "layout.html.twig" %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Evolution ({{ history }}) - {{ server.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-list fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ stats.period.rows | number_format(0,'.',' ') }}</div>
                                <div>Rows</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left"><i class="fa fa-line-chart"></i> {{ stats.delta.rows | signed_color | raw }}</span>
                            <span class="pull-right">{{ stats.ratio.rows | signed_color | raw }}%</span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-table fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ stats.period.tables | number_format(0,'.',' ') }}</div>
                                <div>Tables</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left"><i class="fa fa-line-chart"></i> {{ stats.delta.tables | signed_color | raw }}</span>
                            <span class="pull-right">{{ stats.ratio.tables | signed_color | raw }}%</span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-database fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ stats.period.databases | number_format(0,'.',' ') }}</div>
                                <div>Databases</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left"><i class="fa fa-line-chart"></i> {{ stats.delta.databases | signed_color | raw }}</span>
                            <span class="pull-right">{{ stats.ratio.databases | signed_color | raw }}%</span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            {# dataLentgh #}
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-cube fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ (stats.period.dataLength/1000000) | number_format(0,'.',' ') }}</div>
                                <div>MB</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left"><i class="fa fa-line-chart"></i> {{ (stats.delta.dataLength/1000000) | signed_color | raw }}</span>
                            <span class="pull-right">{{ stats.ratio.dataLength | signed_color | raw }}%</span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-default" href="{{ path('kilik_db_monitor_evolution_history',{"history": history, "date": dateBefore|date('Y-m-d_H:i'),"server": server.id, "periods": periods}) }}">
                    <i class="fa fa-arrow-left"></i>
                </a>
                {% if history=='hourly' %}
                    {{ date|date('H:i d/m/Y') }}
                {% else %}
                    {{ date|date('d/m/Y') }}
                {% endif %}
                <a class="btn btn-default" href="{{ path('kilik_db_monitor_evolution_history',{"history": history, "date": dateAfter|date('Y-m-d_H:i'),"server": server.id, "periods": periods}) }}">
                    <i class="fa fa-arrow-right"></i>
                </a>
                {{ periods }} periods
                {% if periods >1 %}
                    <a class="btn btn-default" href="{{ path('kilik_db_monitor_evolution_history',{"history": history, "date": date|date('Y-m-d_H:i'),"server": server.id, "periods": periods-1}) }}">
                        <i class="fa fa-minus"></i>
                    </a>
                {% else %}
                    <a class="btn btn-default" href="#" disabled="disabled">
                        <i class="fa fa-minus"></i>
                    </a>
                {% endif %}
                <a class="btn btn-default" href="{{ path('kilik_db_monitor_evolution_history',{"history": history, "date": date|date('Y-m-d_H:i'),"server": server.id, "periods": periods+1}) }}">
                    <i class="fa fa-plus"></i>
                </a>
                <br/>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% embed "@KilikDbMonitor/Evolution/_historyList.html.twig" with {"table": table} %}
                    {% block tableTitle %}
                        <b>{{ history|capitalize }} evolution from
                            {% if history=='hourly' %}{{ previousDate|date('H:i d/m/Y') }}{% else %}{{ previousDate|date('d/m/Y') }}{% endif %}
                            to
                            {% if history=='hourly' %}{{ date|date('H:i d/m/Y') }}{% else %}{{ date|date('d/m/Y') }}{% endif %}
                        </b>
                    {% endblock tableTitle %}
                {% endembed %}
            </div>
        </div>

    </div>

    <!-- /#page-wrapper -->
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = new KilikTable("{{ table.id }}", "{{ table.path }}", JSON.parse('{{ table.options | json_encode |raw }}'));
            table.init();
        });
    </script>
{% endblock %}
