{% extends "layout.html.twig" %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Evolution ({{ history }}) - {{ server.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-default" href="{{ path('kilik_db_monitor_evolution_history',{"history": history, "date": dateBefore|date('Y-m-d_H:i'),"server": server.id, "periods": periods}) }}">
                    <i class="fa fa-arrow-left"></i>
                </a>
                {% if history=='hourly' %}
                    {{ date|date('H:i d/m/Y') }}
                {% else %}
                    {{ date|date('d/m/Y') }}
                {% endif %}
                <a class="btn btn-default" href="{{ path('kilik_db_monitor_evolution_history',{"history": history, "date": dateAfter|date('Y-m-d_H:i'),"server": server.id, "periods": periods}) }}">
                    <i class="fa fa-arrow-right"></i>
                </a>
                {{ periods }} periods
                {% if periods >1 %}
                    <a class="btn btn-default" href="{{ path('kilik_db_monitor_evolution_history',{"history": history, "date": date|date('Y-m-d_H:i'),"server": server.id, "periods": periods-1}) }}">
                        <i class="fa fa-minus"></i>
                    </a>
                {% else %}
                    <a class="btn btn-default" href="#" disabled="disabled">
                        <i class="fa fa-minus"></i>
                    </a>
                {% endif %}
                <a class="btn btn-default" href="{{ path('kilik_db_monitor_evolution_history',{"history": history, "date": date|date('Y-m-d_H:i'),"server": server.id, "periods": periods+1}) }}">
                    <i class="fa fa-plus"></i>
                </a>
                <br/>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% embed "@KilikDbMonitor/Evolution/_historyList.html.twig" with {"table": table} %}
                    {% block tableTitle %}
                        <b>{{ history|capitalize }} evolution from
                            {% if history=='hourly' %}{{ previousDate|date('H:i d/m/Y') }}{% else %}{{ previousDate|date('d/m/Y') }}{% endif %}
                            to
                            {% if history=='hourly' %}{{ date|date('H:i d/m/Y') }}{% else %}{{ date|date('d/m/Y') }}{% endif %}
                        </b>
                    {% endblock tableTitle %}
                {% endembed %}
            </div>
        </div>

    </div>

    <!-- /#page-wrapper -->
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = new KilikTable("{{ table.id }}", "{{ table.path }}", JSON.parse('{{ table.options | json_encode |raw }}'));
            table.init();
        });
    </script>
{% endblock %}
